[submodule "SkillAegis-Dashboard"]
	path = SkillAegis-Dashboard
	url = https://github.com/MISP/SkillAegis-Dashboard.git
[submodule "SkillAegis-Editor"]
	path = SkillAegis-Editor
	url = https://github.com/MISP/SkillAegis-Editor.git
