{
    "main": {
        "host": "0.0.0.0",
        "port": "4000",
        "scenario_folder": "scenarios",
        "dashboard_url": "https://127.0.0.1:4001",
        "editor_url": "https://127.0.0.1:4002"
    },
    "dashboard": {
        "host": "0.0.0.0",
        "port": "4001"
    },
    "editor": {
        "host": "0.0.0.0",
        "port": "4002"
    }
}
